<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Куинхэ</title>
        <link href="/www/css/main.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1 class = "korean-name">구인회</h1>
            <nav>
                <ul class = "main-resolution">
                    <li><a href="home">О проекте</li>
                    <li><a href="activeplot">Исследовать библиотеку</a></li>
                    <li>Участники Куинхэ</li>
                </ul>
            </nav>
            <div id="sign_menu">
                <span id="signin_p">Вход</span>
                <div id="signin">
                        <label><p>Почта
                            <p><input type="text">
                        </label>
                        <label><p>Пароль
                            <p><input type="text">
                        </label>
                        <p><button>Вход</button></div>
                <span id="registration_p">Регистрация</span>
                <div id="registration">
                        <label><p>Почта
                            <p><input type="text">
                        </label>
                        <label><p>Пароль
                            <p><input type="text">
                        </label>
                        <label><p>Повторите пароль
                            <p><input type="text">
                        </label>
                        <p><button>Регистрация</button>
                    </div>
            </div>
        </header>
        <div class="copy-ul">
        <div class="main-resolution">
        <main>
            <div id="side_menu">
                <p>1. Знакомство с Критиком</p>
                <p>2. Знакомство с Новелистом</p>
                <p>3. Антракт о Девяти I</p>
                <p>4. Знакомство с Цветком Камелии</p>
                <p>5. Антракт о Девяти II</p>
                <p>6. Знакомство со Стариком</p>
                <p>7. Антракт о Девяти III</p>
                <p> 8. Знакомоство с Бабочкой</p>
                <p> 9. Антракт о Девяти IV</p>
                <p>10. Знакомство со Звездой</p>
                <p>11. Антракт о Девяти V</p>
                <p>12. Знакомство с Зеркалом</p>
                <div id="side_menu_panel">
                    <svg  width="80.00" height="150.00" viewBox="0.00 0.00 200.00 500.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke-linecap="round" id="Layer_3">
                            <path d="M14.69,17.78 Q64.44,17.78 114.20,17.78 Q163.70,17.78 163.70,67.28 Q163.70,249.26 163.70,431.24 Q163.70,480.74 114.20,480.74 Q64.44,480.74 14.69,480.74 Q-34.81,480.74 -34.81,431.24 Q-34.81,249.26 -34.81,67.28 Q-34.81,17.78 14.69,17.78 Z" fill="rgb(14,23,41)" stroke="rgb(14,23,41)" stroke-width="6.00" stroke-opacity="1.00" stroke-linejoin="round"/>
                            <path d="M28.89,174.81 L31.11,317.04 L134.07,253.33 L28.89,174.81 Z" fill="rgb(187,207,255)" stroke="rgb(187,207,255)" stroke-width="8.00" stroke-opacity="1.00" stroke-linejoin="miter"/>
                        </g>
                    </svg>
                </div>
            </div>
            <h1>Знакомство с критиком</h1>
            <div class="librarian">
            <div class="bubble">
                <div class="name">Ким Хуанхэ</div>
                <p>Добро пожаловать, путник. Давно у нас не было посетителей… 
                Мое имя Ким Хуантхэ (김환태), но ты можешь называть меня Критик.</p>  
                <img src="/www/img/kuinhoe_kritik.png">             
            </div>
            </div>
            <div class="speech_bubble">
                <p>- Где я?</p>
            </div>
            <div class="pointers">
                <svg id="pointer_left" class="pointer_off" width="30.00" height="30.00" viewBox="0.00 0.00 500.00 500.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke-linecap="round" id="Layer_2">
                    <path d="M379.79,64.80 L379.79,425.43 L74.57,249.81 L379.79,64.80 Z" fill="none" stroke-width="40.00" stroke-opacity="1.00" stroke-linejoin="miter"/>
                    </g>
                </svg>
                <svg id="pointer_right" width="30.00" height="30.00" viewBox="0.00 0.00 500.00 500.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke-linecap="round" id="Layer_2">
                    <path d="M120.21,64.80 L120.21,425.43 L425.43,249.81 L120.21,64.80 Z" fill="none" stroke-width="40.00" stroke-opacity="1.00" stroke-linejoin="miter"/>
                    </g>
                </svg>
            </div>
        </main>
    </div>
    </div>
    </body>
    <script src="/www/js/dialogue_system.js"></script>
    <script src="/www/js/sign.js"></script>
</html>